* {
    font-family: "Poppins";
    margin: 10px;
}

body{
    background-image: url('https://img.freepik.com/free-vector/forniture-house-elements-set-icons_24908-59883.jpg?w=740&t=st=1671938314~exp=1671938914~hmac=7c4f226ccc2265e95ff0bc9a58658bae232da6a6fca3be1bbfa4c013d266c14c');
    background-size: cover;
}

.add{
    color: #686868;
    cursor: pointer;
    font-weight: bold;
}
.add:hover{
    text-decoration: underline;
}

.container {
    width: 90%;
    margin: 0;
    padding-bottom: 18px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 4px 2px 26px 3px rgba(0,0,0,0.44);
    -webkit-box-shadow: 4px 2px 26px 3px rgba(0,0,0,0.44);
    -moz-box-shadow: 4px 2px 26px 3px rgba(0,0,0,0.44);
}

table th {
    font-size: 14px;
}

table tr td {
    font-size: 12px;
}